@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

html {
  transition:
    background-color 200ms ease,
    color 200ms ease;
}

* {
  transition:
    background-color 200ms ease,
    color 200ms ease,
    border-color 200ms ease;
}
